.wabout {
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: linear-gradient(45deg, #000000, transparent); /* Use a gradient for a cool effect */
    border-radius: 10px; /* Optional: Add rounded corners for a stylish look */
}
.atextwrapper
{

height: 400px;
}    
    
     
    

.abouttext {
    overflow-y: scroll;
     
    color: antiquewhite;
    text-align: center;
    z-index: 0;
}