.wabout {
    height: 40%; 
    overflow: clip;
}
.atextwrapper
{
    overflow-y: scroll;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background: linear-gradient(45deg, #000000, transparent); /* Use a gradient for a cool effect */
    border-radius: 10px; /* Optional: Add rounded corners for a stylish look */

}    
    
     
    

.abouttext {
   
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: antiquewhite;
    text-align: center;
    z-index: 0;
}