/* login-register.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;

}

.login-container, .register-container {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Enhanced for a more subtle effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

input[type="email"], input[type="password"] {
  display: flex;
  width: 100%;
  padding: 10px;
  opacity: 0.9;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  opacity: 0.9;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darkened background */
  z-index: 999; /* Ensures it's above other content but below the modal */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background-color: white; /* Adjusted for better visibility */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures the modal is above the backdrop */
  width: 100%;
  max-width: 500px; /* Adjust width as necessary */
}
.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-close-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #333;
}
.error-message {
  color: rgb(82, 0, 158); // Use red color for errors
  margin-bottom: 10px; // Add some space below the error message
  text-align: center; // Center-align the error message
  font-weight: bold; // Make it bold to catch attention
}
.login-wrapper
{
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
