

.brand {
    z-index: 0;
    
    display: flex;
    object-fit: scale-down;
    align-items: center;
    justify-content: center;
   
    max-width: 600px;
    max-height: 300px;
    z-index: 0;
}





