

:root {
  display: flex;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
  
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
body
{
  overflow-y: scroll;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 90vh; 
}
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}
.center {
  position: absolute;
  margin-top: 100px;
  height: 90%;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  display: flex;
  z-index: 0;
}
/*background css*/ 
.videobg {
  overflow: hidden;
  object-fit: cover;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  justify-content: center; 
  display: flex;
  flex-direction: column; 
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}








 /*about.css*/
 .gwrapper {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Use a gradient for a cool effect */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 600px;
  height: auto;
  justify-content: center;
  gap: 50px; /* Adjust the gap between grid items */
  margin-bottom: 30px;
}
.gbox {
  align-items: center;
  cursor: pointer;
}
.gbox:hover {
  transform: scale(1.05); /* Slightly increase size */
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}
.BoxImage {
  width: 100px; /* Ensure images take up full width of their container */
  height: auto; /* Maintain aspect ratio */
  background: linear-gradient(180deg, #000000, transparent); /* Use a gradient for a cool effect */
  border-radius: 10px; /* Optional: Add rounded corners for a stylish look */ 
}
.aboutimg {
  z-index: 0;
  display: flex;
  object-fit: scale-down;
  align-items: start;
  justify-content: center;
  max-width: 600px;
  max-height: 600px;
}
.wabout {
  height: 2000px; 
  z-index: 1;
  justify-content: center;
}
.atextwrapper
{
  min-height: 20%;
  margin-bottom: 1%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  z-index: 2;
} 
.abouttext {
 padding-right: 1%;
 z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
  color: antiquewhite;
  text-align: center;
  z-index: 0;
}
.bwrapper
{ 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  background: linear-gradient(180deg, #000000, transparent); /* Use a gradient for a cool effect */
  border-radius: 10px; /* Optional: Add rounded corners for a stylish look */
}    
.bbouttext {
 padding-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: antiquewhite;
  text-align: center;
  z-index: 0;
}

.bboutvid-container {
  margin-top: 5%;
  margin-bottom: 5%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  width: 80vw; /* Adjust as needed */
  height: 80vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.bboutvid {
  position: relative;
  width: 80%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.additionalmenu
{
    position: fixed;
    top: 1px;
    margin-top: 10px;
    
}
.videopop
{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 95%;
    align-items: center;
    margin-bottom: 30px;
    display: flex;
}

.menu-overlay {
    
    top: 10px;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(53, 53, 53, 0.8);
    padding: 10px;
    border-radius: 10px;
  }
  .social-icons { 
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
   display: inline-flex;
    margin-right: 10px;
  }
  .social-icons li:last-child {
    margin-right: 0;
  } 
  .social-icons a img {
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease;
  }
  .social-icons a img:hover {
    transform: scale(1.2);
  }
  .social-icon-large {
    font-size: 2rem; /* Adjust the size as needed */
  }
  .slick-slide {
    margin: 0 10px; /* Adjust the margin as needed */
    max-height: 100px;
    z-index: 3; 
}
.video-grid-wrapper
{
  flex: 50%;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Use a gradient for a cool effect */
  font-family: 'Press Start 2P', system-ui;
  max-height: 800px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
}
  .video-grid-title
  {
   padding-top: 10px;
   display: flex;
  }

  .video-grid-container {
    max-height: 700px;
    z-index: 100;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .video-grid-row {
    display: flex;
    
    gap: 10px; /* Adjust based on your design */
    margin-bottom: 20px; /* Spacing between rows */
}
  .video-grid-header {
    grid-column: 1 / -1; /* Make the header span all columns */
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    
  }
  .video-item {
    max-height: 150px;
     /* 16:9 Aspect Ratio */
    width: 300px;
    background-color: black;
    border-radius: 5px;
   
    position: relative;
   
    ; /* Adjust based on your content */
  }

  

  .video-item head {
    position: relative;
  }
  
  .video-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     border-radius: 5px;
  }
  
  @keyframes rainbowAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .rainbow-text {
    
    
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Fallback: in case the text-fill-color is not supported */
    -webkit-text-fill-color: transparent; /* For Safari */
    animation: rainbowAnimation 5s ease infinite;
    display: inline-flex; /* Or 'block', depending on your layout */
  }
  @keyframes rainbowBorderAnimation {
    0% { border-color: red; }
    14% { border-color: orange; }
    28% { border-color: yellow; }
    42% { border-color: green; }
    57% { border-color: blue; }
    71% { border-color: indigo; }
    85% { border-color: violet; }
    100% { border-color: red; }
  }
  
  .rainbow-border {
    border: 3px solid transparent; /* Initial border color */
    transition: border-color 0.5s ease; /* Smooth transition for border color change */
  }
  
  .rainbow-border:hover {
    animation: rainbowBorderAnimation 2s infinite linear;
  }

  .video-overlay-container {
    position: relative;
    width: 100%; /* Adjust based on your layout */
  }
  
  .video-overlay-container video {
    width: 100%; /* Ensure video covers the container */
    height: auto;
  }
  
  .video-title-overlay {
    position: absolute;
    bottom: 10px; /* Position at the bottom of the video */
    left: 0;
    width: 100%;
    text-align: center;
    color: white; /* Choose a color that stands out */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 5px 0; /* Padding for aesthetic spacing */
  }
  
  .contentgrid {
    display: flex;
   }


.infobox {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Use a gradient for a cool effect */
  font-family: 'Press Start 2P', system-ui;
  padding-left: 10px;
margin-bottom: 10px;
}
  /* button CSS */
  .button-85 {
    
    margin: 10px;
    opacity: 0.85;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  } 
  
  
  /* About CSS End */

  .Welcome-Message-Wrapper
{
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    z-index: 5;
}
.Welcome-Message
{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
   
   
}